<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/include/css/stylesheet.css">
        <title>Home</title>
    </head>


    <body id="body-home">
        <%- include('../views/home/navbar.ejs')%>
        <div id="container">
            <div id="side-menu">
                <%-include('../views/home/loginbutton.ejs')%>
                <div class="button" onclick="location.href = '/news'">
                    <span>News</span>
                </div>
            </div>
            <div id="content">
                <% if(!locals.news){ %><%- include('../views/home/tablecrypto.ejs')%><%}%>
            </div>
        </div>
    </body>

    <div id="bitcoin-modal" class="modal">

        <div class="modal-content">

            <canvas id="bitcoinPriceChart"></canvas>
        </div>
    </div>



    <%- include('../views/home/loginmodal.ejs')%>
</html>

<%- include('../views/home/homescripts.ejs')%>