<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/include/css/stylesheet.css">
        <title>Home</title>
    </head>


    <body id="body-home">
        <%- include('../views/home/navbar.ejs')%>
        <div id="container">
            <div id="side-menu">
                <%-include('../views/home/loginbutton.ejs')%>
                <div class="button" onclick="location.href = '/news'">
                    <span>News</span>
                </div>
                <div class="button" onclick="location.href = '/'">
                    <span>Home</span>
                </div>
                <%if(locals.loggedin && loggedin){%>
                    <div class="button" onclick="togglemodal('wallet-modal')">
                        <span>Wallet</span>
                    </div>
                <%}%>
            </div>
            <div id="content">
                <%if(locals.news){
                    newsData.articles.forEach(row => {
                        %>
                        <div class="news-article">
                            <div class="news-container">
                                <h1><%=row.title%></h1>
                                <p>Author: <%=row.author%></p>
                                <p><%=row.description%></p>
                                <a href="<%=row.url%>">Read More</a>
                            </div>
                            <div class="image-container">
                                <img src="<%=row.urlToImage%>" alt="image">
                            </div>
                        </div>
                    <%})
                }%>


                <% if(!locals.news){ %><%- include('../views/home/tablecrypto.ejs')%><%}%>
            </div>
        </div>
    </body>

    <div id="bitcoin-modal" class="modal">

        <div class="modal-content">

            <h1 id="bitcoin-modal-title"></h1>
            <span id="bitcoin-modal-price"></span>
            <span id="bitcoin-modal-volume"></span>
            <span id="bitcoin-modal-supply"></span>

            <canvas id="bitcoinPriceChart"></canvas>

            <span>Amount to add:</span><br>
            <textarea id="add-coin-amount"></textarea>

            <div class="button" onclick="togglemodal('add-to-wallet-modal')">
                <span>Add To Wallet</span>
            </div>
        </div>
    </div>

    <div id="wallet-modal" class="modal">

        <div class="modal-content">

            <h1>Wallet</h1>
        </div>
    </div>


    <%- include('../views/home/loginmodal.ejs')%>
</html>

<%- include('../views/home/homescripts.ejs')%>