<table class="pure-table">
    <thead>
        <th>rank</th>
        <th>Name</th>
        <th>Price in USD</th>
        <th>Price in EURO</th>
        <th>Link</th>
    </thead>
    <tbody>
        <%if(locals.coindata){coindata.forEach(coin => {%>            
            <tr id="<%=coin.name%>">
                <td><%=coin.rank%></td>
                <td><%=coin.name%></td>
                <td>$<%=coin.priceUsd%></td>
                <td>€<%=coin.priceEuro%></td>
                <td><a href="<%=coin.explorer%>">Link</a></td>
                <td><button class="button" onclick="togglemodal('bitcoin-modal', '<%=coin.name%>', '<%=coin.priceUsd%>', '<%=coin.volumeUsd24Hr%>', '<%=coin.supply%>')">Details</button></td>
            </tr>
        <%})}%>
    </tbody>
</table>